parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/MailPreviewCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>display_name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Console/Commands/MailPreviewCommand.php

		-
			message: '#^Using nullsafe property access "\?\-\>user" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Console/Commands/MailPreviewCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/AdminAudienceController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/AdminAudienceController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:messages\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/Admin/AdminHelpDeskController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Laravel\\Sanctum\\PersonalAccessToken\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/AuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$delivery_status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/WorkspaceApiController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Api/V1/WorkspaceApiController.php

		-
			message: '#^Parameter \#1 \$message of method App\\Services\\Email\\OutboundEmailService\:\:queue\(\) expects App\\Models\\Message, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Api/V1/WorkspaceApiController.php

		-
			message: '#^Method App\\Http\\Controllers\\App\\ContactFormController\:\:formOf\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Http/Controllers/App/ContactFormController.php

		-
			message: '#^Call to static method disk\(\) on an unknown class App\\Http\\Controllers\\App\\Storage\.$#'
			identifier: class.notFound
			count: 2
			path: app/Http/Controllers/App/ProjectFileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$display_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Site/PublicProfileController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$user\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Site/PublicProfileController.php

		-
			message: '#^Parameter \#1 \$profile of method App\\Services\\Forms\\PublicInquiries\:\:submit\(\) expects App\\Models\\CreatorProfile\|App\\Models\\EditorProfile, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Site/PublicProfileController.php

		-
			message: '#^Using nullsafe property access "\?\-\>schema_json" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Site/PublicProfileController.php

		-
			message: '#^Method App\\Models\\ContactForm\:\:publishedVersion\(\) should return App\\Models\\ContactFormVersion\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Models/ContactForm.php

		-
			message: '#^Method App\\Models\\Proposal\:\:latestVersion\(\) should return App\\Models\\ProposalVersion\|null but returns Illuminate\\Database\\Eloquent\\Model\|null\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Proposal.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:can\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Cannot call method isPast\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Auth/OtpService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$display_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Email/OutboundEmailService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$externalContact\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Email/OutboundEmailService.php

		-
			message: '#^Parameter \#1 \$conversation of method App\\Services\\Email\\OutboundEmailService\:\:identityFor\(\) expects App\\Models\\Conversation, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Email/OutboundEmailService.php

		-
			message: '#^Using nullsafe property access "\?\-\>username" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Email/OutboundEmailService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$schema_json\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Forms/ContactFormBuilder.php

		-
			message: '#^Using nullsafe property access "\?\-\>schema_json" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Forms/ContactFormBuilder.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Services/Forms/PublicInquiries.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:notify\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/Forms/PublicInquiries.php

		-
			message: '#^Parameter \#1 \$user of method App\\Services\\Forms\\ContactFormBuilder\:\:formFor\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Forms/PublicInquiries.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$subject\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Integrations/Email/ResendEmailProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$conversation_uuid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Integrations/Email/SendGridEmailProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$subject\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Integrations/Email/SendGridEmailProvider.php

		-
			message: '#^Using nullsafe property access "\?\-\>conversation_uuid" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Integrations/Email/SendGridEmailProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$subject\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Integrations/Email/SmtpEmailProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$ig_user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Integrations/Instagram/MetaInstagramProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$token_encrypted\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Integrations/Instagram/MetaInstagramProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$username\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Integrations/Instagram/MetaInstagramProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Marketplace/CreatorDiscovery.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Marketplace/CreatorDiscovery.php

		-
			message: '#^Parameter \#2 \$account of method App\\Contracts\\PayoutProviderInterface\:\:createPayout\(\) expects App\\Models\\PayoutAccount, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/Marketplace/MarketplaceEngine.php

		-
			message: '#^Using nullsafe property access "\?\-\>bps" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Marketplace/MarketplaceEngine.php

		-
			message: '#^Using nullsafe property access "\?\-\>version_number" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Marketplace/MarketplaceEngine.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Filesystem\\FilesystemAdapter and ''temporaryUrl'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Services/Media/MediaStorage.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Support/HelpDesk.php

		-
			message: '#^Call to function is_array\(\) with string\|null will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: app/Services/Webhooks/WebhookDispatcher.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: database/seeders/DatabaseSeeder.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$channel\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Feature/AdminPanelTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Feature/AdminPanelTest.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:abilityList\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/AdminPanelTest.php

		-
			message: '#^Call to an undefined method Illuminate\\Testing\\TestResponse\:\:getSession\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Feature/AdminPanelTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$body\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Feature/ContactFormBuilderTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Feature/ContactFormBuilderTest.php

		-
			message: '#^Offset ''budget_range'' does not exist on string\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: tests/Feature/ContactFormBuilderTest.php

		-
			message: '#^Offset ''what_are_you_contacting_me_about'' does not exist on string\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: tests/Feature/ContactFormBuilderTest.php

		-
			message: '#^Parameter \#1 \$user of method Illuminate\\Foundation\\Testing\\TestCase\:\:actingAs\(\) expects Illuminate\\Contracts\\Auth\\Authenticatable, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Feature/ContactFormBuilderTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$insights\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Feature/InstagramIntegrationTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$last_synced_at\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Feature/InstagramIntegrationTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Feature/InstagramIntegrationTest.php

		-
			message: '#^Parameter \#1 \$payer of method App\\Services\\Marketplace\\MarketplaceEngine\:\:requestPayment\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Feature/PaymentSettlementTest.php

		-
			message: '#^Call to an undefined static method Illuminate\\Support\\Facades\\Artisan\:\:shouldHaveReceived\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: tests/Feature/SchedulerTriggerTest.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$subject\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Support/RecordingEmailProvider.php
